
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

input {
  display: block;
  width: 80%;
  padding: 5px 0.5em;
  border-radius: 12px;
  margin: 2ex auto;
  font-size: 18px;
  outline: none;
  text-align: center;
}

input:focus {
  background-color: #a8f1ff;
}


h1 {
  text-align: center;
  font-weight: normal;
}

table {
  width: 80%;
  margin: 15px auto;
}

th {
  border-bottom: 1px solid gray;
}

div.sort {
  text-align: center;
}

button {
  cursor: pointer;
  font-size: 18px;
  padding: 8px 1em;
  background-color: #2e50d8;
  color: white;
  border-radius: 15px;
  outline: none;
  border: 1px solid gray;
  box-shadow: 3px 3px 3px #888;
}

button:active {
  box-shadow: none;
}
